img {
    display: block;
    width: 100%;
}

body {
    max-width: 1140px;
    min-width: 320px;
    margin: 0 auto;
}

#root {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card {
    position: relative;
    min-width: 310px;
    padding: 5px;
    display: flex;
    flex: 0;
    flex-direction: column;
    gap: 3px;
}

.card__rating {
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 3px;
    background: rgba(0, 0, 0, .4);
    font-size: 14px;
    font-weight: bold;
    color: white;
}

@media screen and (min-width: 320px){
    .card {
        align-items: center;
    }
}